<div class="progress-scroll-container" aria-hidden="true">
  <div id="progress-scroll"></div>
</div>

<script>
  window.addEventListener('scroll', function () {
    updateProgressScroll();
  });
  window.addEventListener('load', function () {
    updateProgressScroll();
  });

  function updateProgressScroll() {
    if (document) {
      const progressScroll = document.getElementById('progress-scroll');
      if (progressScroll) {
        var scrollTop = window.scrollY || document.documentElement.scrollTop;
        var scrollHeight = document.documentElement.scrollHeight - window.innerHeight;
        var progress = (scrollTop / scrollHeight) * 100;
        progressScroll.style.width = progress + '%';
      }
    }
  }
</script>

<style>
  html:is(:not([data-has-hero]), [data-has-sidebar], [data-has-toc]) .progress-scroll-container {
    position: fixed;
    top: var(--sl-nav-height);
    left: 0;
    z-index: 3;
    width: 100%;
    height: 0.25rem;
    background-color: transparent;
  }

  #progress-scroll {
    width: 0;
    height: 100%;
    background-color: var(--sl-color-accent-high);
  }
</style>

<style is:global>
  /* stylelint-disable-next-line selector-id-pattern -- kebab-case */
  #starlight__on-this-page--mobile {
    margin-top: 0.25rem;
  }
</style>
