# biome                latest
# commitlint           latest
# deno                 latest
# direnv               latest
# docker-cli           latest
# docker-compose       latest
# docker-slim          latest
# gh                   latest
# github-cli           latest
# go                   latest
# markdownlint         latest
# markdownlint-cli     latest
# markdownlint-cli2    latest
# node                 latest
# node                 lts
# npm                  latest
# oxfmt                latest
# oxlint               latest
# pnpm                 latest
# prettier             latest
# python               latest
# ruff                 latest
# rust                 latest
# shellcheck           latest
# shfmt                latest
# uv                   latest
